* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: aliceblue;
    font-family: monospace;
    font-size: 1.2rem;
    text-align: center;
}

div.action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.moves {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

div.container {
    border: 2px solid;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

div.container:hover {
    background-color: lightpink;
}

div.announce {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
}

button {
   border: none;
   padding: .6rem 1.2rem;
   border-radius: .4rem;
   background-color: aquamarine;
   cursor: pointer;
   transition: background-color,color .2s;
   margin-top: 1rem;
}

button:hover {
    background-color: black;
    color: white;
}

img {
    width: 10rem;
}

.picked img {
    width: 8rem;
}

div.picked {
    display: flex;
}

.picked .left, .picked .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
}

.is-show {
    display: none;
}
